*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root{
  background-image: linear-gradient(to right, #60163b80, #56123580, #4d0f2f80,#460c2b80, #3e092680);
}
input, .mainSign div{
  border-radius: 22px;
}
header{
  display: flex;
  justify-content: flex-end;
}
header div{
  height: 10vh;
  width: 10vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#root, .mainSign, .mainHome{
  display: flex;
}
#root{
  flex-direction: column;
  min-height: 100vh;
}
.mainSign, .mainHome{
  align-items: center;
  flex:1
}
.mainSign >div{
  width: 35vw;
  background-color: #e4e2e269;
  margin: 10vw;
  padding: 2vw;
  border: 1px solid #d9d9d93b;
  border-radius: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mainSign h2{
  font-family: 'Courgette', cursive;
  color: #f4a30e;
}
input{
  margin:.5vw;
  padding: .5vw 1vw;
  width: 90%;
  border: 1px solid #f4a30e;
  outline: none;
}
input[type='submit'],thead{
  background-color: #f4a30e;
  cursor: pointer;
}
.error{
  height: 2vw;
}
.error{
  padding: .5vw;
  font-size: medium;
  color:rgb(201, 9, 9)
}
.mainHome{
  justify-content: center;
}
.mainHome > div{
  width: 85%;
}
table{
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
td, th{
  border: 2px solid #5e153a;
  padding: .5vw;
}
td{
  background-color:#ffffffde;
}
footer{
  text-align: center;
  padding-bottom: .5vh;
}
@media screen and (max-width: 900px){
  header div{
    height: 15vh;
    width: 30vw;
  }
  .mainSign >div{
    width: 60%;
  }
  .error{
    height: 3.5vw;
  }
  .mainHome > div{
    width: 95%;
  }
}